/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #212121;
  --ifm-color-primary-dark: #212121;
  --ifm-color-primary-darker: #111111;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #aeaeae;
  --ifm-color-primary-lighter: #e0e0e0;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #212121;
  --ifm-color-primary-dark: #212121;
  --ifm-color-primary-darker: #111111;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #aeaeae;
  --ifm-color-primary-lighter: #e0e0e0;
  --ifm-color-primary-lightest: #ffffff;
}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Custom styles in dark mode */
html[data-theme='dark'] .navbar__logo img{
  filter: invert(1);
}

html[data-theme='dark'] .navbar__brand:hover,
html[data-theme='dark'] .navbar__item.navbar__link:hover,
html[data-theme='dark']  .navbar__link--active  {
  color: var(--ifm-color-primary-light);
}

html[data-theme='dark'] .hero--primary{
  color: var(--ifm-color-primary-lighter);
  background-color: var(--ifm-color-primary);
}

html[data-theme='dark'] .menu__link--active{
  color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] .pagination-nav__label{
  color: var(--ifm-color-primary-light);
}

html[data-theme='dark'] .pagination-nav__link:hover {
  border-color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] .theme-doc-footer-edit-meta-row svg{
  fill: var(--ifm-color-primary-light);
}

html[data-theme='dark'] .theme-doc-footer-edit-meta-row a{
  color: var(--ifm-color-primary-light);
}

html[data-theme='dark'] .footer__link-item:hover {
  color: var(--ifm-color-primary-light);
}

html[data-theme='dark'] a {
  color: var(--ifm-color-primary-light);
}

